.ui.grid.container
  h1.animated.slideInRight.faster.row News
  .ui.message.animated.slideInRight.fast
    .header Service unavailible
    p The News Feed is currently under construction. Feature will be released in futur versions.
