link(rel="stylesheet" href="../public/css/login.css")
script(src="../public/js/login.js")

.overlay
  img.background-img(src="../assets/img/login-background.png")
  .ui.container.animate.fadeIn(style="padding-top: 10px")
    h1.animated.slideInRight.faster.color-white(style="color: white;") Login
    br
    .ui.fluid.icon.input
      input(type='text', placeholder='Minecraft username or email')#email-input
      i.user.icon
    br
    .ui.fluid.action.input
      input(type='password', placeholder='Password')#password-input
      .ui.button#login-in-button Log In
