extends layout
block js
  script(src="../public/js/spaRoute.js")

block body
  // menu bar
  .menu-area
    .ui.secondary.pointing.menu
      a(href="index.html").item.active News
      a(href="instances.html").item Instances
      a(href="youtube.html").item YouTube
      .right.menu
        a.item#authLink(href="signout.html") Sign Out
  // spa content
  .content
    p Content goes here
