html {
  user-select: none;
  -webkit-user-drag: none;
}

.content {
  padding-top: 15pt;
}

.color-white {
  color: white;
}

.background-img {
  filter: blur(3px);
  z-index: -1;
  background-position: center;
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

#mcFace {
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
}
